/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #42b926;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0vw;
    margin: 0vw;
    font-size: 3vw;
}

.topbar {
    background-color: black;
    width: 100%;
    height: 4vw;
    font-size: 4vw;
    text-transform: capitalize;
    color: white;
    padding: 1vw;
    text-align: left;
}

.topbar input {
    height: 2vw;
    margin: 1vw;
}

.child button,
.child input {
    border: solid black .5vw;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 2.8vw;
    background-color: #e7e520;
    text-transform: uppercase;
}

.navigation button {
    width: 50vw;
}

.garage input, .spacer{
    width: 5vw;
    height: 5vw;
}

.garage span {
    float:left;
}

.mowergraphic {
    width: 60vw;
}

.display {
    border: solid black .5vw;
    border-radius: 4vw;
    padding: 2vw;
    font-size: 3vw;
    width: 50vw;
    background-color: #8AD819;
}

#progressCircle {
    margin: .2vw;
    width: 50vw;
    height: 50vw;
}

div {
    font-size: 3vw;
}

table.main {
    width: 100vw;
    height: 100vw;
    text-align: center;
}

table.main tr {
    margin: 5vw;
}